@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-serif text-slate-800 hyphens-auto
}

.content {
  box-shadow: inset 1px 0px 20px 0px rgb(0 0 0 / 0.05);
}

@media (min-width: 768px) {
  .content {
    max-width: 66%;
  }

  .navigator {
    max-width: 33%
  }
}

h1 {
  display: none;
}

h2 {
  @apply before:content-["#"] hover:bg-slate-100 text-slate-500 mt-10 mb-5 border-b text-2xl md:text-3xl
}

h2 code {
  @apply p-0 text-2xl md:text-2xl pl-1 pr-1
}

h3 {
  @apply before:content-["#"] hover:bg-slate-100 text-slate-500 mt-5 mb-5 text-xl md:text-2xl
}

h3 code {
  @apply p-0 text-xl md:text-2xl pl-1 pr-1
}

h4 {
  @apply hover:bg-slate-100 text-slate-500 mt-5 mb-5 text-lg md:text-xl
}

h4 code {
  @apply p-0 text-lg md:text-xl pl-1 pr-1
}

h5 {
  @apply hover:bg-slate-100 text-slate-500 mt-5 mb-5 text-lg md:text-xl
}

h5 code {
  @apply p-0 text-lg md:text-xl pl-1 pr-1
}

h6 {
  @apply hover:bg-slate-100 text-slate-500 mt-5 mb-5 text-lg md:text-xl
}

h6 code {
  @apply p-0 text-lg md:text-xl pl-1 pr-1
}

p {
  @apply mt-5 text-justify
}

a {
  @apply text-slate-500 hover:bg-slate-100
}

blockquote {
  @apply italic p-3 mt-3 mb-3 bg-slate-50 border-l-4 border-teal-500
}

blockquote p {
  @apply mt-0 before:content-['"'] before:font-bold before:font-sans before:text-teal-600 before:text-3xl before:pr-1
}

/* list */
ul {
  @apply marker:text-slate-500 mt-5 list-disc pl-5 space-y-3
}

ol {
  @apply marker:text-slate-500 mt-5 list-decimal pl-5 space-y-3
}

/* code block */
pre {
  @apply rounded mt-2 p-2 ring-1 ring-slate-900/5 bg-slate-50 overflow-scroll
}

code {
  @apply font-mono text-teal-700 bg-slate-50 text-sm
}

/* table */
table {
  @apply font-mono rounded mt-3 mb-3 ring-1 ring-slate-900/5 bg-slate-50 w-full
}

thead {
  @apply text-teal-600 border-b
}

tbody {
  @apply divide-y
}

td, th {
  @apply p-1 text-xs
}

/* footnote heading */
.sr-only {
  @apply before:content-['*']
}

/* bullet points with vertical lines */
ul {
  list-style-type: none;
}

ul li {
  position:relative; /* so that pseudo-elements are positioned relatively to their "li"s*/
}

ul li:before {
  content: '+';
  position: absolute;
  left: -14px;
  top: 0px;
  color: rgb(103, 115, 137);
}

ul li:not(:last-child):after {
  content:"";
  position: absolute;
  width: 1px;
  left: -10px;
  top: 17pt;
  height: calc(100% - 5pt);
  border-left: 1px solid lightgray;
}